extends layout

block content
    div#sideBarContainer
        div#sideBar

            table(style="margin:auto;")
                form
                    tr
                        td(style="font-size:.7em;width:9em;padding-right:5px;")
                            input(type="text", name="roomName")#roomName
                        td
                            button(style="width:7em;")#room-join Join Room
                form
                    tr
                        td(style="font-size:.7em;width:9em;padding-right:5px;")
                            input(type="text", name="userName")#userName
                        td
                            button(style="width:7em;")#message-user Message
            
            //- Friends / Blocked Lists
            div#userLists
                ul
                    li: a(href="#friendsList")#friendsTabLink Friends
                    li: a(href="#blockedList") Blocked
                    li#requestsTab: a(href="#friendRequests") R
                div#friendsList
                    form
                        table.userListAdd
                            tr
                                td(style="padding-right:5px;")
                                    input(type="text")#friend-name
                                td
                                    button(text="Add friend")#friend-add Add
                    div.userListContainer.userListHeight
                        div#friends-online-label.userListLabel
                            del &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            |Online
                            del &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        div#friends-online
                        div#friends-offline-label.userListLabel
                            del &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            |Offline
                            del &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        div#friends-offline
                        div#friends-pending-label.userListLabel
                            del &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            |Pending
                            del &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        div#friends-pending
                div#blockedList
                    form
                        table.userListAdd
                            tr
                                td(style="padding-right:5px;")
                                    input(type="text")#blocked-name
                                td
                                    button(text="Block user")#blocked-add Add
                    div.userListContainer.userListHeight
                        div#blocked-users-label.userListLabel
                            del &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            |Blocked
                            del &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        div#blocked-users
                div#friendRequests
            div#pallette
            button(style="display:block;margin:auto;")#logOff Log Off
    div#mainArea &nbsp;
    div.clear

    //- Remove at end of project!
    div#autoLogin.temp Auto Log In
        br
        button(style="margin-left:auto;margin-right:auto;")#mashumafi mashumafi
        br
        button(style="margin-left:auto;margin-right:auto;")#nagolyhprum nagolyhprum
        br
        button(style="margin-left:auto;margin-right:auto;")#schwowsers schwowsers

    form(name="loginForm")#login
        div Username:
        div
            input(type="text", name="usernameL")
        div#usernameL.error
        div Password:
        div
            input(type="password", name="passwordL")
        div#passwordL.error
        div#authL.error
    form(name="registerForm")#register
        div Username:
        div
            input(type="text", name="usernameR")
        div#usernameR.error
        div Password:
        div
            input(type="password", name="passwordR")
        div#passwordR.error
        div Confirm Password:
        div 
            input(type="password", name="passwordCfmR")
        div#passwordCfmR.error
        div E-mail:
        div
            input(type="text", name="emailR")
        div#emailR.error
        div Confirm E-mail:
        div
            input(type="text", name="emailCfmR")
        div#emailCfmR.error