extends layout

block content
    span#menuBar.ui-widget-header.ui-corner-all
        input(type="text", name="roomName")#roomName
        button#room-join Join Room
        button#logOff Log Off
    #autoLogin.temp Auto Log In
        br
        button(style="margin-left:auto;margin-right:auto;")#mashumafi mashumafi
        button(style="margin-left:auto;margin-right:auto;")#nagolyhprum nagolyhprum
        button(style="margin-left:auto;margin-right:auto;")#schwowsers schwowsers

    form(name="loginForm")#login
        div Username:
        div
            input(type="text", name="usernameL")
        #usernameL.error
        div Password:
        div
            input(type="password", name="passwordL")
        #passwordL.error
        #authL.error
    form(name="registerForm")#register
        div Username:
        div
            input(type="text", name="usernameR")
        #usernameR.error
        div Password:
        div
            input(type="password", name="passwordR")
        #passwordR.error
        div Confirm Password:
        div 
            input(type="password", name="passwordCfmR")
        #passwordCfmR.error
        div E-mail:
        div
            input(type="text", name="emailR")
        #emailR.error
        div Confirm E-mail:
        div
            input(type="text", name="emailCfmR")
        #emailCfmR.error
