extends layout

block content
    script(src="http://code.jquery.com/qunit/qunit-git.js")
    link(rel='stylesheet', href='http://code.jquery.com/qunit/qunit-git.css', type="text/css")
    script(src="/scripts/test.js")
    #qunit