#pallette {
    width: 256px;
    margin: 10px auto;
	border : 1px solid black;	
    background : white;
    border-radius : 4px;
}

#color, .color{
	border-radius : 4px;
	margin : 5px;
}

#pallette .color {
    cursor : pointer;
	width : 20px;
	height : 20px;
	float : left;	
	border : 1px solid black;			
}

.newline {
	clear : both;
}		

#pallette #color {
	width : 52px;
	height : 52px;
	border : 1px solid black;
}