html,body {
    padding: 0;
    margin: 0;
    height: 100%;
}
body {
    font: 100% "Lucida Grande", Helvetica, Arial, sans-serif;
    overflow: hidden;
}
#logo {
    position: fixed;
    left: 50%;
    margin-left: -96px;
    top:8%;
    opacity: .4;
}
.temp { /* For Auto Login*/
    border: thin solid black;
    width: 15em;
    height: auto;
    padding: 5px;
    background-color: #FCE872;
    text-align: center;
}
a {
    color: #00B7FF;
}
.clear {
    clear: both;
}
#sideBarContainer {
    float:left;
    height: 100%;
    width: 18em;
}
#sideBar {
    height: 100%;
    width: 18em;
    background-color: #71A352;
    position: relative;
    z-index: 9000;
}
#sideBar td {
    padding: 5px 0;   
}
#mainArea {
    margin-left: 18em;
    height: 100%;
}
.inputField {
    width: 10em;   
}

/* Friend / Block List  */
#userLists {
    font-size: 0.9em;
	width: 16em;
    margin: 0 auto;
}
#userLists input{
	width: 100%;
	font-size: 0.8em;
    margin: auto;
}
.userListHeight {
    height: 22em;   
}
.userListContainer {
	border: thin solid #909090;
    background-color: #ffffff;
	overflow-x: hidden;
	overflow-y: scroll;
    cursor: default;
}
.userListLabel {
	text-align: center;
	font-size: 0.8em;
	padding: 0.4em 0;
    white-space: nowrap;
}
.userListEntry {
	font-size: 0.8em;
	padding: 0.5em 1em;
}
div.userListEntry:hover {
	background-color: #fff6d4;
}
.userListAdd {
    margin: auto;
    width: 100%;
}
.userListEntryMenu {
    margin-left: 1em;
	font-style: normal;
	font-size: 0.90em;
	color: blue;
    cursor: pointer;
}
.active {
	color: #000000;
}
.idle {
	font-style: italic;
}
.offline {
	color: #5e5e5e;
}

.error {
    color: red;
}
.no-close-x .ui-dialog-titlebar-close {
    display: none;
}
.chat {}  /* Empty.  Used to identify chat window. */
.chat p {
    margin: 0px;
}

.chat-left {
    position: absolute !important;  
    padding: 20px 10px 20px 20px;
}
.chat-middle {
    width: 17em;
}
.chat-right {
    width: 11em;
    position: absolute !important;
    padding: 20px 20px 20px 10px;
}
.chat-right input {
    width: 9em;
    font-size: .7em;
    padding: 5px;
}
.chat-right table {
    margin: 10px auto 0;    
}

.chat-listHeight {
    height: 14em;   
}
.chat-canvas {
    margin: auto;
    width: 256px;
    height: 256px;
}
.chat-input {
    font-size: .75em;
    overflow: auto;
    height: 4em;
    border: thin solid #000000;
    background-color: #ffffff;
    
}
.chat-output {
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: .8em;
    padding: 8px;
    margin-bottom: 5px;
    height: 13em;
    border: thin solid #909090;
    background-color: #ffffff;
}
.sender {
    color: #DB042C;
    font-weight: bold;
}
.receiver {
    color: #0457DB;
    font-weight: bold;
}
.chat-toggle-left {
    margin-left: 0;
}
.chat-toggle-right {
    margin-right: 0;
    margin-left: auto;
}
.chat-send {
    margin: auto;
}
