body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.no-close-x .ui-dialog-titlebar-close {
    display: none;     
}

.error {
    color: red;
}